# Conditional Statement

In [3]:
## if statemnet

age=20
if age>=18:
    print("You are an adult.")

You are an adult.

In [4]:
age>=18

True

In [5]:
## else
## executes only if the if condition is false

age=16

if age>=18:
    print("You are an adult.")
else:
    print("You are an minor.")

You are an minor.

In [7]:
## elif statement
## allow you to check multiple conditions and stands for "else if"

age=20
if age<13:
    print("You are a child.")
elif age<18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

In [10]:
## Nested conditional statements

## you can place one or more if statements inside another if statement

number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero")

The number is negative or zero

In [ ]:
## Practical Examples 

## Determining Leap Years

year = int(input("Enter a year: "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, " is a leap year.")
        else:
            print(year, " is not a leap year.")
    else:
        print(year, " is a leap year.")
else:
    print(year , " is not a leap year.")

2000  is a leap year.

In [ ]:
##Assignment
## simple calculator

num1 = float(input("Enter first number: "))
operation = input("Enter operation (+, -, *, /): ")
num2=float(input("Enter the second number: "))

if operation=='+':
    result=num1+num2
elif operation=='-':
    result=num1-num2
elif operation=='*':
    result=num1*num2
elif operation=='/':
    if num2!=0:
        result=num1/num2
    else:
        result="Can't divide by zero"
else:
    result="Invalid Operation"

print(result)

68.0

In [15]:
## Determine the ticket price based on the age and whether the person is a student .
## Ticket pricing is based on age and student status

age=int(input("Enter your age: "))
is_student=input("Are you a Student? (yes/no): ").lower()

if age<5:
    price="free"
elif age<=12:
    price="$10"
elif age<=17:
    if is_student =='yes':
        price="$12"
    else:
        price="$15"
elif age<=64:
    if is_student=='yes':
        price="$18"
    else:
        price="$25"
else:
    price="$20"

print("Ticket Price: ", price)

Ticket Price:  $18

# Loops in Python

In [16]:
range(5)

range(0, 5)

In [ ]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
range(1,10,1)
## range(Start,end,Step)

range(1, 10)

In [21]:
for i in range(1,10,1):
    print(i)

for i in range(1,10,2):
    print(i)

1
2
3
4
5
6
7
8
9
1
3
5
7
9

In [23]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [24]:
## string

str1="Osheen Jain"

for i in str1:
    print(i)

O
s
h
e
e
n

J
a
i
n

In [25]:
## while loop

## execute until a condition is true

count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [26]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

In [27]:
## loop control statemnets

## break

## the break exits the loop prematurely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [29]:
## continue

## skip the current iteration work in the loop 

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## pass
## it is a null statemnet it does nothing

for i in range(10):
    if i==3:
        print("i is ",i)
        pass
    print(i)

0
1
2
i is  3
3
4
5
6
7
8
9

In [ ]:
## nested loops
## loop inside a loop


for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
##Example
## calculate the sum of N natural numbers 

## using while loop

n=10
sum=0
while n>0:
    sum=sum+n
    n=n-1

print("Sum of first 10 natural numbers: ",sum)

55

In [36]:
n=10
sum=0
for i in range(n+1):
    sum=sum+i
    
print(sum)

55

In [39]:
## Example - Prime number between 1 and 100

for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97