## Sets in Python

## Not follow order and no duplicates

In [2]:
## create set
my_set=(1,2,2,5)
print(my_set)
print(type(my_set))

(1, 2, 2, 5)
<class 'tuple'>

In [3]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_set = set([1,2,3,3,5,565,5,3,6,5])
print(type(my_empty_set))
print(my_set)

<class 'set'>
{1, 2, 3, 5, 6, 565}

In [6]:
## basic operations
## adding and removing elements
my_set.add(7)
print(my_set)

{1, 2, 3, 5, 6, 7, 565}

In [7]:
my_set.add(7)
print(my_set)

{1, 2, 3, 5, 6, 7, 565}

In [ ]:
## removing elements
my_set.remove(7)
print(my_set)

{1, 2, 3, 5, 6, 565}

In [9]:
my_set.remove(254)

KeyError: 254

In [10]:
## removing elements safely
my_set.discard(254)
print(my_set)

{1, 2, 3, 5, 6, 565}

In [ ]:
## pop method
popped_element=my_set.pop() ## pop out an arbitrary element
print("popped element:",popped_element)
print("set after pop:",my_set)

popped element: 1
set after pop: {2, 3, 5, 6, 565}

In [12]:
## clear all elements
my_set.clear()
print(my_set)

set()

In [ ]:
## set membership test
my_set={1,2,3,4,5}
print(3 in my_set)  ## give boolean output if element is present true/false
print(10 in my_set)

True
False

In [ ]:
## mathematical set operations
set1={1,2,3,4,5,5,6}
set2={4,5,6,7,8,9}

## union
union_set=set1.union(set2)  ## add all unique elements from both sets
print("union:",union_set)

union: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
## intersection
intersection_set=set1.intersection(set2)
print(intersection_set)  ## common elements in both sets

{4, 5, 6}

In [ ]:
set1.intersection_update(set2)
print(set1)  ## set1 now contains only elements also in set2 updated with common elenments

{4, 5, 6}

In [19]:
set1={1,2,3,4,5,5,6}
set2={4,5,6,7,8,9}
## difference
print(set1.difference(set2))  ## elements in set1 but not in set2
print(set2.difference(set1))  ## elements in set2 but not in set1

set1.difference_update(set2)
print(set1)  ## set1 updated to contain only elements not in set2

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}

In [ ]:
## symmetric difference
set1={1,2,3,4,5,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2)  ## elements in either set1 or set2 but not in both will be returned

{1, 2, 3, 7, 8, 9}

In [ ]:
## set methods
set1={1,2,3,4,5}
set2={4,5,6,7,8}
## is subset
print(set1.issubset(set2))  ## check if set1 is subset of set2
print(set2.issuperset(set1))  ## check if set2 is superset of set1

## superset
print(set2.issuperset(set1))  ## check if set2 is superset of set1 have all elements of set1
print(set1.issubset(set2))  ## check if set1 is subset of set2 have all elements in set2
## is disjoint
## check if two sets have no elements in common

False
False

In [22]:
lst=[1,2,2,3,4,4,5]
print(set(lst)) ## remove duplicates from list using set

{1, 2, 3, 4, 5}

In [23]:
## counting all unique elements in a text
text="hello world welcome to the world of python programming hello hello"
unique_words=set(text.split())
print(unique_words)
print(len(unique_words))

{'world', 'hello', 'of', 'python', 'the', 'to', 'programming', 'welcome'}
8

## Dictionaries

In [24]:
## unordered collection of unique elements , key value pair , immutable
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [25]:
empty_dict=dict()
print(type(empty_dict))
print(empty_dict)

<class 'dict'>
{}

In [27]:
## key value pair
student={"name":"Osheen", "age":20, "course":"ML"}
print(student)
print(type(student))

{'name': 'Osheen', 'age': 20, 'course': 'ML'}
<class 'dict'>

In [28]:
## error
student={"name":"Osheen", "age":20, "course":"ML","name":45}
print(student)  ## keys are unique , last assignment will be retained or overwritten

{'name': 45, 'age': 20, 'course': 'ML'}

In [32]:
## accessing dictionary elements
student={"name":"Osheen", "age":20, "course":"ML"}
print(student['name'])
print(student['age'])
print(student['course'])

## default method get
print(student.get('age'))
print(student.get('grade'))  ## returns None if key not found
print(student.get('name'))

print(student.get('grade','Not Available'))  ## returns 'Not Found' if key not found as default value provided

Osheen
20
ML
20
None
Osheen
Not Available

In [33]:
## modifying dictionary elements
## dictionary is mutable, you can change its content as add update or delete elements
print(student)

{'name': 'Osheen', 'age': 20, 'course': 'ML'}

In [ ]:
student['age']=21 ## update age
print(student)
student["address"]="India" ## add new key value pair
print(student)

{'name': 'Osheen', 'age': 21, 'course': 'ML'}
{'name': 'Osheen', 'age': 21, 'course': 'ML', 'address': 'India'}

In [36]:
## deleting key
del student['course'] ## delete key and value pair
print(student)

{'name': 'Osheen', 'age': 21, 'address': 'India'}

In [38]:
## dictionary methods

keys=student.keys()
print(keys)
values=student.values()
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Osheen', 21, 'India'])

In [ ]:
## to get key value pairs
items=student.items()
print(items) ## giving list of tuples of key value pairs

dict_items([('name', 'Osheen'), ('age', 21), ('address', 'India')])

In [40]:
## shallow copy of dictionary
student_copy=student
print(student_copy)
print(student)

{'name': 'Osheen', 'age': 21, 'address': 'India'}
{'name': 'Osheen', 'age': 21, 'address': 'India'}

In [ ]:
student["name"]="New Name"  ## update name in original dictionary and also in copy as both refer to same object
print(student)
print(student_copy)

{'name': 'New Name', 'age': 21, 'address': 'India'}
{'name': 'New Name', 'age': 21, 'address': 'India'}

In [43]:
student_copy1=student.copy()  ## create a shallow copy of dictionary
print(student_copy1)
print(student)

{'name': 'New Name', 'age': 21, 'address': 'India'}
{'name': 'New Name', 'age': 21, 'address': 'India'}

In [ ]:
student["name"]="New Name2" ## update name in original dictionary
print(student)
print(student_copy1)  ## no change in copy

{'name': 'New Name2', 'age': 21, 'address': 'India'}
{'name': 'New Name', 'age': 21, 'address': 'India'}

In [46]:
## iterating through dictionary

## using for loop to iterate dictionary keys , values and items

## iterate keys
for key in student.keys():
    print(key)

name
age
address

In [47]:
## over values
for value in student.values():
    print(value)

New Name2
21
India

In [49]:
## iterating through items
for key,value in student.items():
    print(f"{key} : {value}")

name : New Name2
age : 21
address : India

In [50]:
## NESTED DICTIONARIES
students={
    "student1":{"name":"Osheen","age":20},
    "student2":{"name":"Alice","age":22}
}
print(students)

{'student1': {'name': 'Osheen', 'age': 20}, 'student2': {'name': 'Alice', 'age': 22}}

In [51]:
## accessing nested dictionary elements
print(students["student1"]["name"])
print(students["student1"]["age"])

Osheen
20

In [52]:
students.items()

dict_items([('student1', {'name': 'Osheen', 'age': 20}), ('student2', {'name': 'Alice', 'age': 22})])

In [53]:
## iterating through nested dictionary
for student_id,student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key,value in student_info.items():
        print(f"   {key} : {value}")

student1: {'name': 'Osheen', 'age': 20}
   name : Osheen
   age : 20
student2: {'name': 'Alice', 'age': 22}
   name : Alice
   age : 22

In [54]:
## dictionary comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [56]:
## conditional dictionary comprehension

even_squares={x:x**2 for x in range(10) if x%2==0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [57]:
## practical examples

## use a dictinary to count frequency of elements in a list
numbers=[1,2,2,3,4,4,5,1,2,3,4,5,5,5]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 2, 2: 3, 3: 2, 4: 3, 5: 4}

In [58]:
## Merging dictionaries

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

## Real World Examples

In [61]:
## Todo List

to_do_list=["buy groceries","clean the house","pay bills"]

## adding to task
to_do_list.append("shcedule meeting")
to_do_list.append("go for run")

## removing the completed task
to_do_list.remove("clean the house")

## checking if a task is in list or not 

if "pay bills" in to_do_list:
    print("don't forget to pay bills")
    
print("to do list remaining")
print(to_do_list)

don't forget to pay bills
to do list remaining
['buy groceries', 'pay bills', 'shcedule meeting', 'go for run']

In [ ]:
## max and min and len aggregate functions usage