# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
set1=set(i for i in range(1,11))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
set1.add(11)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
set2=set(i for i in range(1,6))
set3=set(i for i in range(1,11) if i%2==0)
print(set2,set3)
print(set2.union(set3))
print(set2.intersection(set3))
print(set2.difference(set3))
print(set2.symmetric_difference(set3))

{1, 2, 3, 4, 5} {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [5]:
set4=set(i*i for i in range(1,11))
print(set4)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [9]:

set5=set(i for i in range(1,11))
even_set=set(i for i in set5 if i%2==0)
print(even_set)

{2, 4, 6, 8, 10}

In [11]:
set_with_duplicates=set([1,2,3,4,5,6,7,8,9,5,4,8,6,2,2])
print(set_with_duplicates)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
first_five=set(i for i in range(1,6))
first_three=set(i for i in range(1,4))
print(first_three.issubset(first_five))
print(first_five.issuperset(first_three))

True
True

In [13]:
frozenset1=frozenset(i for i in range(1,6))
print(frozenset1)

frozenset({1, 2, 3, 4, 5})

In [14]:
set6=set(i for i in range(1,6))
list_of_set=list(set6)
list_of_set.append(6)
set6=set(list_of_set)
print(set6)

{1, 2, 3, 4, 5, 6}

In [18]:
dict_set1=(1,2,3)
dict_set2=(4,5,6)
dict_with_sets={dict_set1:"hi",dict_set2:"python"}
print(dict_with_sets)

{(1, 2, 3): 'hi', (4, 5, 6): 'python'}

In [19]:
set7=set(i for i in range(1,11))
for i in set7:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
set8=set(i for i in range(1,11))
while set8:
    set8.pop()
    print(set8)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [23]:
set9=set(i for i in range(1,11))
set10=set(i for i in range(6,16))
set9=set9.symmetric_difference(set10)
print(set9)

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}

In [27]:
set11=set(i*10 for i in range(1,11))
elements=[20,50,110,80]

for i in elements:
    if i in set11:
        print(i, " is presnt in the set.")
    else:
        print(i ," is not present in the set.")

## OR

print(20 in set11)
print(50 in set11)
print(110 in set11)
print(80 in set11)

20  is presnt in the set.
50  is presnt in the set.
110  is not present in the set.
80  is presnt in the set.
True
True
False
True

In [28]:
set12={(1,2),(3,4),(5,6)}
print(set12)

{(1, 2), (3, 4), (5, 6)}