# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [7]:
tuple1=tuple([i for i in range(1,11)])
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
first_element=tuple1[0]
middle_element=tuple1[len(tuple1)//2]
last_element=tuple1[-1]
print(first_element)
print(middle_element)
print(last_element)
first,*middle,last=tuple1
print(first,middle,last)

1
6
10
1 [2, 3, 4, 5, 6, 7, 8, 9] 10

In [10]:
print(tuple1[:3])
print(tuple1[7:])
print(tuple1[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [13]:
matrix=((1,2,3),(4,5,6),(7,8,9))
for i in matrix:
    for j in i:
        print(j,end=" ")
    print()

print(matrix[1][2])

1 2 3
4 5 6
7 8 9
6

In [14]:
print(tuple((1,2,3)+(4,5,6)))

(1, 2, 3, 4, 5, 6)

In [15]:
containing_duplicate=(4,1,2,3,6,2,9,2,4,6,2,8,1,5,1,5)
print(containing_duplicate.count(2))
print("The first occurrrence of 2 is " , containing_duplicate.index(2))

4
The first occurrrence of 2 is  2

In [17]:
a,b,c,d,e=(1,1.2,"Osheen Jain",True,False)
print(a)
print(b)
print(c)
print(d)
print(e)

1
1.2
Osheen Jain
True
False

In [18]:
list1=[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

In [20]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [25]:
tuple2=(1,2,3,4,5)
temporary_list=list(tuple2)
temporary_list.append(6)
manipulated_tuple=tuple(temporary_list)
print(manipulated_tuple)

(1, 2, 3, 4, 5, 6)

In [28]:
string_tuple=('w','e','l','c','o','m','e')
string=""
for i in string_tuple:
    string+=i

print(string)

welcome

In [1]:
dict_with_tuple_keys={(1,2,3):"hi",(4,5,6):"python"}
print(dict_with_tuple_keys)

{(1, 2, 3): 'hi', (4, 5, 6): 'python'}

In [8]:
nested_tuple2=((1,2,3),(4,5,6),(7,8,9))
for i in nested_tuple2:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [9]:
containing_duplicate1=(4,1,2,3,6,2,9,2,4,6,2,8,1,5,1,5)
print(set(containing_duplicate1))

{1, 2, 3, 4, 5, 6, 8, 9}

In [10]:
def my_function (tuple1):
    return min(tuple1),max(tuple1),sum(tuple1)

containing_duplicate2=(4,1,2,3,6,2,9,2,4,6,2,8,1,5,1,5)
min,max,sum=my_function(containing_duplicate2)
print(min)
print(max)
print(sum)

1
9
61