# Lists

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [5]:
names=["osheen","hdcuhdw", 2,2,5,54]
print(names)

['osheen', 'hdcuhdw', 2, 2, 5, 54]

In [6]:
mixed_list=["osheen",23,5.6,True]
print(mixed_list)

['osheen', 23, 5.6, True]

In [20]:
## accessing elements
friuts=["apple","banana","mango","grapes"]
print(friuts[0])
print(friuts[2])
print(friuts[-1])  # it will give last element

apple
mango
grapes

In [8]:
print(friuts[0:])

['apple', 'banana', 'mango', 'grapes']

In [9]:
print(friuts[:3])

['apple', 'banana', 'mango']

In [11]:
## modifying elements
friuts[1]="watermelon"
print(friuts)

['apple', 'watermelon', 'mango', 'grapes']

In [ ]:
# friuts[1:]="watermelon"
# print(friuts)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [15]:
## list methods

friuts.append("kiwi")
friuts.append("orange")
print(friuts)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'kiwi', 'orange', 'kiwi', 'orange']

In [21]:
friuts.insert(2,"papaya")
print(friuts)

['apple', 'banana', 'papaya', 'mango', 'grapes']

In [23]:
friuts.remove("papaya")

In [24]:
popped_item=friuts.pop()
print("popped item:",popped_item)
print(friuts)

popped item: grapes
['apple', 'banana', 'mango']

In [25]:
index=friuts.index("mango")
print("index of mango:",index)

index of mango: 2

In [26]:
friuts.count("banana")

1

In [28]:
friuts.sort()
print(friuts)

['apple', 'banana', 'mango']

In [29]:
friuts.reverse()
print(friuts)

['mango', 'banana', 'apple']

In [30]:
friuts.clear()
print(friuts)
## clearing the list

[]

## slicing in list

In [34]:
numbers=[5,2,9,1,7,15,65,41,65,6]
print(numbers[2:5])
print(numbers[:4])
print(numbers[3:])
print(numbers[::2])
print(numbers[::-1])  # to reverse the list

[9, 1, 7]
[5, 2, 9, 1]
[1, 7, 15, 65, 41, 65, 6]
[5, 9, 7, 65, 65]
[6, 65, 41, 65, 15, 7, 1, 9, 2, 5]

In [35]:
print(numbers[::-2])

[6, 41, 15, 1, 2]

In [36]:
## iterating through a list
for number in numbers:
    print(number)

5
2
9
1
7
15
65
41
65
6

In [38]:
## iterating through a list with index

for index,number in enumerate(numbers):
    print(index,number)

0 5
1 2
2 9
3 1
4 7
5 15
6 65
7 41
8 65
9 6

In [40]:
## list comprehension
lst1=[]
for x in range(1,11):
    lst1.append(x*x)
print(lst1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
## benefit of list comprehension
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## list comprehension

syntax

[expression for item in iterable]

with condition [expression for item in iterable if condition]

In [42]:
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
list2=[]
for x in range(1,21):
    if x%2==0:
        list2.append(x)
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
even_numbers=[i for i in range(1,21) if i%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## nested list comprehension

In [46]:
## nested list comprehension

list2=[1,2,3,4,5]
list3=['a','b','c','d','e']

pair=[(i,j) for i in list2 for j in list3]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]

In [47]:
## list comprehension with function calls

words=["hello","world","python","programming"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 11]

## Tuples in python

In [48]:
## these are immutable in nature in comparison to lists

tupl=()
print(tupl,type(tupl))

() <class 'tuple'>

In [ ]:
lst=list() ## for empty list
print(lst,type(lst))

[] <class 'list'>

In [50]:
numbers1=tuple([1,2,3,4,5])
numbers1

(1, 2, 3, 4, 5)

In [52]:
(1,2,3,4,5,6)
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [53]:
mixed_tuple=("osheen",23,5.6,True)
mixed_tuple

('osheen', 23, 5.6, True)

In [54]:
## accessing tuple elements

print(numbers1[0])

1

In [55]:
## same slicing as lists for tuples 
print(numbers1[1:4])

(2, 3, 4)

In [57]:
## tuple operations

concatenation_tuple=numbers1+mixed_tuple ## concatenation
print(concatenation_tuple)

(1, 2, 3, 4, 5, 'osheen', 23, 5.6, True)

In [58]:
mixed_tuple*3 ## repetition

('osheen', 23, 5.6, True, 'osheen', 23, 5.6, True, 'osheen', 23, 5.6, True)

In [61]:
numbers1*3 ## like lists, tuples also support repetition operation

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
## immutability of tuples
# numbers1[0]=10  ## this will raise an error as tuples are immutable
tuple1=(1,2,3,1,1,5,41,15)

3

In [ ]:
## for changing a tuple, we can convert it to list, modify and convert back to tuple
list_from_tuple=list(tuple1)
list_from_tuple[0]=10
modified_tuple=tuple(list_from_tuple)
modified_tuple

(10, 2, 3, 1, 1, 5, 41, 15)

In [ ]:
## tuples methods
tuple1.count(1) ## counts the occurrences of 1 in the tuple
tuple1.index(3) ## finds the index of first occurrence of 3 in the tuple

2

In [66]:
## tuple unpacking and packing

packed_tuple="osheen",23,5.6
print(packed_tuple) ## packing as tuple

('osheen', 23, 5.6)

In [68]:
## unpacking
## unpacking the values into variables as indexed by position
a,b,c=packed_tuple
print(a)
print(b)
print(c)

osheen
23
5.6

In [70]:
## unpacking with * 

number5=(1,2,3,4,5,6,7,8,9)
first,*second,rest=number5
print(first)
print(second)
print(rest)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [ ]:
## nested tuples

nested_tuple=([1,2,3],[4,5,6],[7,8,9])
print(nested_tuple)
print(nested_tuple[0])
print(nested_tuple[1][2])
print(nested_tuple[2][1])
print(nested_tuple[0][0:3])

## tuple inside a tuple tuple inside a list and list inside a tuple and list inside a list

([1, 2, 3], [4, 5, 6], [7, 8, 9])
[1, 2, 3]
6
8
[1, 2, 3]

In [76]:
## iterating through a nested tuple

for item in nested_tuple:
    for value in item:
        print(value , end=" ")
    print()

1 2 3
4 5 6
7 8 9