# Basic Syntax Rules

In [ ]:
##Basic Syntax rules
##Case sensitivity

name="hdjkk"
Name="kchjdhb"

print(name)
print(Name)

In [ ]:
## single line comment
'''Multi-line comment'''

In [2]:
##Indentation
age=32
if age>30:
    print(age)
print(age)

32
32

In [5]:
## line continuation
total=2+4+45+\
565+54
print(total)

670

In [8]:
## multi line statement declaration
x=452; y=446; z=56
print(x)

452

In [11]:
age=12
name="gbjcdj"

print(type(age))
type(name)

<class 'int'>

str

In [14]:
##type inference
variable=10
print(type(variable))
variable="Osheen"
print(type(variable))

<class 'int'>
<class 'str'>

In [16]:
##name error
##a=b
##name 'b' is not defined

In [20]:
##indentationeg
if True:
    print("yes true")
    if False:
        print("false")
    print("true")
print("outer")

yes true
true
outer

In [21]:
##variables

age=12
height=5.11
name="Osheen"
is_student=True
##printing

print("Age: ",age)
print("Height: ",height)
print("Name: ",name)

Age:  12
Height:  5.11
Name:  Osheen

In [22]:
##naming convention from notebook
##python is dynamically typed language and defined at runtime

In [24]:
## type checking and convention 
## checking
age=12
print(type(age))

##convention
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
12
<class 'str'>

In [26]:
age='12' ##string typed
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [27]:
## name="Osheen"
## int(name)  will give an error

In [29]:
## allows to change the type of variable at runtime as code executes
var=10
print(var,type(var))

var=5.11
print(var,type(var))

10 <class 'int'>
5.11 <class 'float'>

In [30]:
##input
age=int(input("Enter the age: "))
print(age)

Enter the age:  25

25

In [48]:
## Data Type

##Integer
age=12
print(age,type(age))

##float
height=5.11
print(height,type(height))

##strings
name="Osheen Jain"
print(name,type(name))

## boolean
is_true=True
print(is_true, type(is_true))

bool() ##false always

a=10
b=10
print(a==b,type(a==b))

## only concatenation is possible for same data type 
## to concatenate the other with each other use convention
result=f"Hello {5}" ## f string
print(result)

## there are many methods are avialable to use with the str
## str.method()

12 <class 'int'>
5.11 <class 'float'>
Osheen Jain <class 'str'>
True <class 'bool'>
True <class 'bool'>
Hello 5

In [49]:
##operator

##Arithematic operators

a=10
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)  ## float division
print(a//b) ## floor division
print(a%b)
print(a**b) ## power operator

20
0
100
1.0
1
0
10000000000

In [50]:
## comparison operator
a=10
b=10
print(a==b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)
## it is case senitive for the strings

True
False
True
False
True
False

In [51]:
## logical operators

x=True
y=False
print(x and y)
print(x or y)
print( not x)

False
True
False