## Functions in Python

In [1]:
## a block of code to perform specific task

hu

In [ ]:
## sytax

def function_name(parameters):
    """docstring"""
    return expression

In [1]:
## why function

num=24
if num%2==0:
    print("even")
else:
    print("odd")

even

In [ ]:
def even_or_odd(num):
    """This function is use to find the num is odd or even"""
    if num%2==0:
        print(" Number is Even")
    else:
        print("Number is Odd")

## call this function
even_or_odd(56)

 Number is Even

In [2]:
## function with multiple parameters

def add(a,b):
    return a+b

print(add(15,85))

100

In [5]:
## default parameters

def greet(name):
    print(f"Hello {name} welcome to python world")

greet("Osheen Jain")

Hello Osheen Jain welcome to python world

In [7]:
def greet(name="Guest"):  ## giving the default if name is provided it will not take the default
    print(f"Hello {name} welcome to python world")

greet("Osheen Jain")

Hello Osheen Jain welcome to python world

In [16]:
## variable length argument
## positional and keyword arguments
## positional argument
def print_numbers(*args):   ## good practice to use args for better but you can use any word here
    for num in args:
        print(num)
        
print_numbers(1,2,3,4,5,6)

1
2
3
4
5
6

In [17]:
def print_numbers(*osheen):   ## good practice to use args for better but you can use any word here
    for num in osheen:
        print(num)
        
print_numbers(1,2,3,4,5,6)

1
2
3
4
5
6

In [18]:
## keyword arguments

def print_details(**kwargs):  ## all values are in key value pairs 
    for key,value in kwargs.items():
        print(f"{key} : {value}")
        
print_details(name="osheen" , age=45 , country="india")

name : osheen
age : 45
country : india

In [21]:
def print_details1(*osheen,**kwargs):
    for num in osheen:
        print(num)
    
    for key,value in kwargs.items():
        print(f"{key} : {value}")
        
print_details1(1,2,3,4,5,6,name="osheen" , age=45 , country="india")

1
2
3
4
5
6
name : osheen
age : 45
country : india

In [22]:
## return statement
## it can return multiple values also assigned to multiple variables 
def multiply(a,v):
    return a*v

print(multiply(45,56))

2520

## Examples of function

In [8]:
## temperature function

def convert_temperature(temp,unit):
    """This function convert temperature between celcius and farenhite"""
    unit=unit.lower()
    if unit=='c':
        return temp*9/5+32
    elif unit=='f':
       return (temp-32)*5/9
    else:
        return None

       
print(convert_temperature(45,'c'))

113.0

In [ ]:
## strong password

def is_strong_password(password):
    if len(password)<8:
        return False
    
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return True

## calling 
print(is_strong_password("ndccugdwh"))
print(is_strong_password("hfefwg^*%kfbjg"))

False
False

In [ ]:
## total cost of item in cart

def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    
    return total_cost
        

## eg

cart=[
    {'name':'Apple', 'price':0.5 ,'quantity':45},
    {'name':'mango', 'price':0.7 ,'quantity':50},
    {'name':'banana', 'price':0.9 ,'quantity':89}
]

total_cost=calculate_total_cost(cart)
print(total_cost)

137.60000000000002

In [ ]:
## pallindrome

def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s[::-1]

print(is_palindrome("cdbuugu"))

uguubdc

In [34]:
## factorial

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
    
print(factorial(5))

120

In [36]:
## to read a file 

def count_wors_in_a_file(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('~!@#$%^&*()__+')
                word_count[word]=word_count.get(word,0)+1
    return word_count

file_path='sample.txt'
ans=count_wors_in_a_file(file_path)
print(ans)

{'hi': 1, 'hdjh': 1, 'jhdjjs': 1, 'sjnkxnsbjxskxsjnxas': 1, 'bsxn': 1, 'asjbjxsbshksjkbxs': 1}

## lambda function

In [ ]:
## syntax 
lambda arguments : expression

In [ ]:
addition = lambda a,b:a+b  ## anonymous function
print(type(addition))
print(addition(45,56))

<class 'function'>
101

In [ ]:
even1=lambda num:num%2==0  ## return boolean of answer
even1(12)

True

In [43]:
## multiple arguments

addition1=lambda x,y,z:x+y+z
print(addition1(455,656,7879))

8990

In [49]:
## map() function - it applies a condition to all elements all at once 

numbers=[1,2,3,4,5,6]

list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

## Map() function

In [46]:
## map

def square(x):
    return x*x

print(square(10))

100

In [ ]:
numbers=[1,2,3,4,5,6]

list(map(square,numbers))  ## function and iterable

[1, 4, 9, 16, 25, 36]

In [50]:
## lambda function with map 

numbers=[1,2,3,4,5,6]

list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36]

In [55]:
## can we map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [56]:
## inbuilt function

words=['apple','mango','banana']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'MANGO', 'BANANA']

In [65]:
def get_name(person):
    return person['name']

people=[
    {'name':"osheen","age":55},
    {'name':"bdcjb",'age':56}
]
print(list(map(get_name,people)))

['osheen', 'bdcjb']

## Filter() function in python

In [58]:
def even(num):
    if num%2==0:
        return True
    
even(56)

True

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
list(filter(even,lst))   ## filter out elements based on conditions

[2, 4, 6, 8]

In [61]:
## with lambda function

numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [62]:
## filter with lambda and multiple condition
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [64]:
## filter() to check if the age is greater than 25 in dictionary
people=[
    {'name':"osheen","age":55},
    {'name':"bdcjb",'age':56}
]

def age_greater_than_25(people):
    return people['age']>25

element=list(filter(age_greater_than_25,people))
print(element)

[{'name': 'osheen', 'age': 55}, {'name': 'bdcjb', 'age': 56}]